{% extends 'base.html' %}
{% block content %}
{% block title %}{{ product.name }}{% endblock %} 

<a href="{% url 'home' %}">Retour à l'accueil</a>

<main>
    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="300">
    <p>Prix : {{ product.price }} FCFA</p>
    <p>Description : {{ product.description }}</p>
    <form action="{% url 'add_to_cart' product.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Ajouter au panier</button>
    </form>
</main>
{% endblock %}
